.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.product-card {
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    flex: 1 1 calc(25% - 50px);
    display: flex;
    flex-direction: column;
}
.product-img {
    width: 200px;
    height: 200px;
    margin: 0px auto;
}
.page-container {
    display: flex;
}
.page-number {
    border: 1px solid black;
    padding: 7px;
    margin: 5px;
}
.active {
    background-color: red;
    color: white;
}